html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  

  /* .container {
    display: flex;
  }
  
  .item {
    height: 100px;
    width: 300px; 
  }
  
  .item-center { 
    flex-grow: 1; 
  }
  
  .item + .item { 
    margin-left: 2%; 
  } */
  